In [1]:
import pandas as pd

In [5]:
clean_data=pd.read_csv("../Data/aquastat_new_clean.csv")

In [6]:
clean_df=pd.DataFrame(clean_data)
clean_df.head(15)

,country,variable_name,variable_id,mid year,year bucket,bin1_value
0,Afghanistan,Total area of the country (1000 ha),area,1995,1993-1997,65286.00
1,Afghanistan,% of total country area cultivated (%),perc_cultivated,1995,1993-1997,11.93
2,Afghanistan,Total population (1000 inhab),total_pop,1995,1993-1997,18034.00
3,Afghanistan,Rural population (1000 inhab),rural_pop,1995,1993-1997,14162.00
4,Afghanistan,Urban population (1000 inhab),urban_pop,1995,1993-1997,3872.00
5,Afghanistan,Population density (inhab/km2),pop_density,1995,1993-1997,27.62
6,Afghanistan,GDP per capita (current US$/inhab),gdp_per_cap,1995,1993-1997,NaN
7,Afghanistan,Human Development Index (HDI) [highest = 1] (-),hdi,1995,1993-1997,NaN
8,Afghanistan,Gender Inequality Index (GII) [equality = 0; i...,gii,1995,1993-1997,NaN
9,Afghanistan,Prevalence of undernourishment (3-year average...,perc_undernourish,1995,1993-1997,45.60
10,Afghanistan,National Rainfall Index (NRI) (mm/year),nri,1995,1993-1997,297.00
11,Afghanistan,Dependency ratio (%),dependency_ratio,1995,1993-1997,28.72
12,Afghanistan,Total renewable water resources per capita (m3...,renew_water_per_cap,1995,1993-1997,3623.00
13,Afghanistan,SDG 6.4.2. Water Stress (%),water_stress,1995,1993-1997,NaN
14,Afghanistan,Flood occurrence (WRI) (-),flood,1995,1993-1997,NaN

In [7]:
reduce_df = clean_df[["country","year bucket","mid year","variable_id","bin1_value"]]
reduce_df.head(15)

        country year bucket  mid year          variable_id  bin1_value
0   Afghanistan   1993-1997      1995                 area    65286.00
1   Afghanistan   1993-1997      1995      perc_cultivated       11.93
2   Afghanistan   1993-1997      1995            total_pop    18034.00
3   Afghanistan   1993-1997      1995            rural_pop    14162.00
4   Afghanistan   1993-1997      1995            urban_pop     3872.00
5   Afghanistan   1993-1997      1995          pop_density       27.62
6   Afghanistan   1993-1997      1995          gdp_per_cap         NaN
7   Afghanistan   1993-1997      1995                  hdi         NaN
8   Afghanistan   1993-1997      1995                  gii         NaN
9   Afghanistan   1993-1997      1995    perc_undernourish       45.60
10  Afghanistan   1993-1997      1995                  nri      297.00
11  Afghanistan   1993-1997      1995     dependency_ratio       28.72
12  Afghanistan   1993-1997      1995  renew_water_per_cap     3623.00
13  Afghanistan   1993-1997      1995         water_stress         NaN
14  Afghanistan   1993-1997      1995                flood         NaN

In [8]:
pivot_new=reduce_df.pivot_table("bin1_value",["country","mid year","year bucket"],"variable_id")
pivot_new.head(15)

variable_id                           area  dependency_ratio  flood  \
country     mid year year bucket
Afghanistan 1995     1993-1997     65286.0            28.720    NaN
            2000     1998-2002     65286.0            28.720    NaN
            2005     2003-2007     65286.0            28.720    NaN
            2010     2008-2012     65286.0            28.720    NaN
            2015     2013-2017     65286.0            28.720    3.7
Albania     1995     1993-1997      2875.0            10.930    NaN
            2000     1998-2002      2875.0            10.930    NaN
            2005     2003-2007      2875.0            10.930    NaN
            2010     2008-2012      2875.0            10.930    NaN
            2015     2013-2017      2875.0            10.930    2.7
Algeria     1995     1993-1997    238174.0             3.599    NaN
            2000     1998-2002    238174.0             3.599    NaN
            2005     2003-2007    238174.0             3.599    NaN
            2010     2008-2012    238174.0             3.599    NaN
            2015     2013-2017    238174.0             3.599    2.8

variable_id                       gdp_per_cap     gii     hdi     nri  \
country     mid year year bucket
Afghanistan 1995     1993-1997            NaN     NaN     NaN   297.0
            2000     1998-2002          192.2     NaN  0.3343   185.0
            2005     2003-2007          380.4  0.7430     NaN     NaN
            2010     2008-2012          690.8  0.7200  0.4630     NaN
            2015     2013-2017          590.3  0.6934  0.4653     NaN
Albania     1995     1993-1997          763.2     NaN     NaN  1053.0
            2000     1998-2002         1420.0     NaN  0.6564  1136.0
            2005     2003-2007         3554.0  0.3670     NaN     NaN
            2010     2008-2012         4276.0  0.2690  0.7294     NaN
            2015     2013-2017         3954.0  0.2174  0.7328     NaN
Algeria     1995     1993-1997         1612.0     NaN     NaN   258.9
            2000     1998-2002         1774.0  0.6210  0.6401   241.5
            2005     2003-2007         3940.0  0.5520     NaN     NaN
            2010     2008-2012         5582.0  0.5050  0.7318     NaN
            2015     2013-2017         4210.0  0.4131  0.7356     NaN

variable_id                       perc_cultivated  perc_safe_water  \
country     mid year year bucket
Afghanistan 1995     1993-1997             11.930             25.0
            2000     1998-2002             11.880             33.8
            2005     2003-2007             12.120             42.6
            2010     2008-2012             12.120             51.6
            2015     2013-2017             12.120             55.3
Albania     1995     1993-1997             24.350             95.8
            2000     1998-2002             24.310             96.1
            2005     2003-2007             24.280             95.9
            2010     2008-2012             24.210             95.4
            2015     2013-2017             24.210             95.1
Algeria     1995     1993-1997              3.426             90.5
            2000     1998-2002              3.445             88.8
            2005     2003-2007              3.523             87.0
            2010     2008-2012              3.539             84.9
            2015     2013-2017              3.543             83.6

variable_id                       perc_undernourish  pop_density  \
country     mid year year bucket
Afghanistan 1995     1993-1997                 45.6        27.62
            2000     1998-2002                 46.7        32.91
            2005     2003-2007                 32.3        39.64
            2010     2008-2012                 24.3        45.53
            2015     2013-2017                 26.8        49.82
Albania     1995     1993-1997                  NaN       107.50
            2000     1998-2002                  NaN       108.60
            2005     2003-2007                  NaN       104.70
            2010     2008-2012                  NaN       100.20
            2015     2013-2017                  NaN       100.80
Algeria     1995     1993-1997                  8.4        12.55
            2000     1998-2002                  8.4        13.43
            2005     2003-2007                  6.8        14.39
            2010     2008-2012                  5.1        15.72
            2015     2013-2017                  NaN        16.65

variable_id                       renew_water_per_cap  rural_pop  total_pop  \
country     mid year year bucket
Afghanistan 1995     1993-1997                 3623.0    14162.0    18034.0
            2000     1998-2002                 3040.0    16621.0    21487.0
            2005     2003-2007                 2525.0    19663.0    25878.0
            2010     2008-2012                 2198.0    22131.0    29727.0
            2015     2013-2017                 2008.0    23980.0    32527.0
Albania     1995     1993-1997                 9767.0     1758.0     3092.0
            2000     1998-2002                 9670.0     1703.0     3123.0
            2005     2003-2007                10030.0     1463.0     3011.0
            2010     2008-2012                10482.0     1163.0     2881.0
            2015     2013-2017                10425.0     1062.0     2897.0
Algeria     1995     1993-1997                  390.5    12426.0    29888.0
            2000     1998-2002                  364.8    11957.0    31990.0
            2005     2003-2007                  340.6    11327.0    34262.0
            2010     2008-2012                  311.7    10937.0    37439.0
            2015     2013-2017                  294.2    10928.0    39667.0

variable_id                       urban_pop  water_stress
country     mid year year bucket
Afghanistan 1995     1993-1997       3872.0           NaN
            2000     1998-2002       4866.0        43.670
            2005     2003-2007       6215.0           NaN
            2010     2008-2012       7596.0           NaN
            2015     2013-2017       8547.0           NaN
Albania     1995     1993-1997       1334.0           NaN
            2000     1998-2002       1420.0         9.068
            2005     2003-2007       1548.0         6.468
            2010     2008-2012       1718.0           NaN
            2015     2013-2017       1835.0           NaN
Algeria     1995     1993-1997      17462.0           NaN
            2000     1998-2002      20033.0        64.290
            2005     2003-2007      22935.0           NaN
            2010     2008-2012      26502.0        87.990
            2015     2013-2017      28739.0           NaN

In [9]:
pivot_new.to_csv("../Data/Data_Final.csv")